.navBtn {
  width: 100%;
  background: transparent;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
  text-align: left;
}

.navIcon {
  width: 60px;
}
.detailBox {
  width: 90%;
  margin-left: 10%;
  text-align: left;
}

.dataBox {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.detailData {
  font-weight: 700;
  font-size: 18px;
  color: white;
}
